{{template "header"}}
	<title>首页 - 我的 beego 博客</title>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>	
	</div>

	<!--content-->
	<div class="container">
		<div class="page-header">
			<h1>我的第一篇博客</h1>
			<h6 class="text-muted">此文发布于 2016 年 5 月 14 日，共有 100 次浏览，200 次评论</h6>
			<p>
				这是我的第一篇博客，谢谢观看
			</p>
		</div>
	</div>

	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>